github "Moya/Moya"                   ~> 9.0
github "Hearst-DD/ObjectMapper"      ~> 2.2
github "ReactiveCocoa/ReactiveCocoa" ~> 6.0
github "thoughtbot/Runes"            ~> 4.1
github "robb/Cartography"            ~> 1.1
